node_modules/
*.log
firebase-debug.log
firebase-debug.*.log
temporary/

# Ignore all environment secret files
.env
.env.local
.env.*.local
functions/.env

# Ignore Firebase/GCP Service Account JSON files
*-firebase-adminsdk-*.json
*.json
key.json
*.json.key
