<!-- Mobile Bottom Navigation -->
<nav class="mobile-bottom-nav">
  <div class="bottom-nav-list">
    <a href="javascript:void(0)" onclick="smartBack()" class="bottom-nav-item">
      <i class="fa-solid fa-angle-left"></i>
      <span>Back</span>
    </a>
    <a href="javascript:void(0)" onclick="repeatLastOrder()" class="bottom-nav-item">
      <i class="fa-solid fa-rotate-left"></i>
      <span>Reorder</span>
    </a>
    <a href="index.html" class="bottom-nav-item">
      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    </a>
    <a href="cart_view.html" class="bottom-nav-item">
      <div class="nav-icon-wrapper">
        <i class="fa-solid fa-basket-shopping"></i>
        <span class="badge cart-count">0</span>
      </div>
      <span>Cart</span>
    </a>
    <a href="my_orders.html" class="bottom-nav-item">
      <i class="fa-solid fa-box-archive"></i>
      <span>Orders</span>
    </a>
  </div>
</nav>
